{{> header}}
<section class="bannerWrap"><img src="/images/index/banner.jpg"></section>

<section class="cont f0">
	<img src="/images/index/index_01.jpg">
	<img src="/images/index/index_02.jpg">
	<img src="/images/index/index_03.jpg">
	<img src="/images/index/index_04.jpg">	
</section>

<section class="cont f0 pr">
	<div class="indexImg">
		<div class="indexTxt">我们提供随时随地的技术支持，灵活对接您的各类业务场景，定制化开发，满足您的需求</div>
		<img src="/images/index/index_06.jpg">
	</div>
	<img src="/images/index/index_05.jpg">
</section>

<script src="/js/index.min.js"></script>
{{> footer}}