{{> header}}

<section class="listWrap clearfix">
	{{> aside}}
	<section class="listRight">
		<table class="table-list" cellpadding="0" cellspacing="0" width="810">
			<thead>
				<tr bgcolor="#F5F5F5">
					<th width="15%">唯一标示符</th>
					<th width="30%">DNA</th>
					<th width="25%">文件名</th>
					<th width="15%">申请出证时间</th>
					<th width="15%">出证状态</th>
				</tr>
			</thead>
			<tbody id="tbody">
				<!-- 
				<tr>
					<td>10283837391</td>
					<td>234823772372swebd</td>
					<td>金融协议.pdf</td>
					<td>2016/09/12</td>
					<td><span class="status-cz">已出证</span></td>
				</tr>
				<tr>
					<td>10283837391</td>
					<td>234823772372swebd</td>
					<td>金融协议.pdf</td>
					<td>2016/09/12</td>
					<td><span class="status-cz cblue">出证中</span></td>
				</tr>
				<tr>
					<td>10283837391</td>
					<td>234823772372swebd</td>
					<td>金融协议.pdf</td>
					<td>2016/09/12</td>
					<td><span class="status-cz">已申请</span></td>
				</tr>
				 -->				
			</tbody>
		</table>
	</section>
</section>

<script src="/js/list.min.js"></script>
</body>
</html>