{{> header}}
<section class="loginWrap">
	<div class="loginForm">
		<p class="txt-welcome"><img src="/images/login/txt_login.png"></p>
		<ul class="list-login">
			<li><input type="text" class="inp-login" id="userName" placeholder="请输入您的企业账户ID"></li>
			<li><input type="password" class="inp-login" id="pwd" placeholder="请输入您的企业密钥"></li>
			<li><p class="mt30 mb20"><span class="btn-login cp"><img src="/images/login/txt_btn.png" class="vm"></span></p></li>
			<li><p class="tc f12 c9">登陆后，可查看您的企业信息和使用申请出证服务</p></li>
		</ul>
		<s class="icon-pen"></s>
	</div>
</section>

<script src="/js/login.min.js"></script>
</body>
</html>